/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* Header */
header {
  background: linear-gradient(45deg, hsl(0, 0%, 100%), #fae7f3);
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}

header .logo img {
  width: 150px;
  position: absolute;
  left: 1rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

nav ul li a {
  text-decoration: none;
  color: #0e0d0d;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: all;
}

nav ul li a:hover {
  background: linear-gradient(45deg, hsl(0, 0%, 100%), #fae7f3);
  transform: scale(1.1);
}

/* Main */
main {
  padding: 2rem;
}

main h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #333;
}

main p {
  font-size: 1.2rem;
  line-height: 1.8;
  text-align: center;
  margin-bottom: 2rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.card {
  flex: 1;
  max-width: 300px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card .card-content {
  padding: 1rem;
}

.card h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #2d3e50;
}

.card p {
  font-size: 1rem;
  color: #555;
}

.card a {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background: #2d3e50;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s;
}

.card a:hover {
  background: #89b0d9;
}

#harga {
  padding: 2rem;
  background: #f4f7ff;
  text-align: center;
}

#harga .card {
  border: 1px solid #ddd;
}

#harga .card-header {
  font-size: 1.2rem;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 1rem;
  background: linear-gradient(45deg, hsl(0, 0%, 100%), #fae7f3);

}


