/**
 * styling untuk halaman register
 */

 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(45deg, hsl(0, 0%, 100%), #fae7f3);
    border-radius: 200px;
}

main {
    width: 100%;
    max-width: 800px;
    padding: 32px;
}

main img {
    display: block;
    margin: 0 auto 16px auto;
    width: 100%;
    max-width: 376px;
}

.register-input {
    padding: 32px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    overflow: hidden;
    text-align: center;
}

.register-input .register-header img {
    max-width: 150px;
    margin: 0 auto 16px;
    display: block;
}

.register-input input {
    display: block;
    width: 100%;
    font-size: 16px;
    padding: 8px;
    margin: 8px 0 16px 0;
    border: 1px solid #e4dddd;
    border-radius: 8px;
}

.register-input button {
    margin-top: 32px;
    padding: 8px 32px;
    background-color: #212936;
    border: 0;
    border-radius: 8px;
    font-size: 16px;
    color: #ffffff;
    font-weight: normal;
    text-transform: uppercase;
    cursor: pointer;
}


.pop-up-modal {
    position: fixed;
    left: 50%;
    bottom: -100px;
    transform: translateX(-50%);
    padding: 16px 32px;
    background-color: #ff4d4d;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-align: center;
    transition: all ease-in-out 0.3s;
    opacity: 0;
}

.pop-up-modal h2 {
    font-size: 1.2rem;
    margin-bottom: 8px;
}

.pop-up-modal p {
    font-size: 0.9rem;
}

.pop-up-modal.display {
    bottom: 20px;
    opacity: 1;
}

footer {
    text-align: center;
    padding: 1rem;
    background: linear-gradient(45deg, hsl(0, 0%, 100%), #fae7f3);
  
  }